{% extends 'ticket/base2.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<style>
.dashlogo {
	width: 300px;
	height: 300px;
}
.dashlogo1 {
	width: 300px;
	height: 300px;
}


</style>
{% if request.user.is_superuser %}
<script>
		window.location.href = '/admin/';

</script>
{% endif %}
{% if request.user.is_staff %}

{% for items in role %}
	{% if items.role_id == 2 %}
	<script>
		window.location.href = '/fts/head/';

	</script>
	{% elif items.role_id == 3 %}
	<script>
		window.location.href = '/fts/fts1';

	</script>
	{% elif items.role_id == 4 %}
	<script>
		window.location.href = '/fts/exec/';

	</script>
	{% elif items.role_id == 6 %}
	<script>
		window.location.href = '/fts/driver/';

	</script>
	{% endif %}
{% endfor %}

{% endif %}


<div class="file">
	<div class="row">

		{% for items in role %}

		{% if items.role_id == 1 %}
		<div class="col-lg-4 col-md-4 col-xs-4">
			<center>
				<a href = "/ticket/file">
					<img src="{% static 'shuttle/submit.jpg' %}" class="img-reponsive dashlogo">
					
				</a>
				<h6>File a Ticket</h6>
			</center>
		</div>

		<div class="col-lg-4 col-md-4 col-xs-4">
			<center>
				<a href = "/ticket/record">
					<img src="{% static 'shuttle/record.png' %}" class="img-reponsive dashlogo1">
					
				</a>
				<h6>Track Submitted Tickets</h6>
			</center>
		</div>
		{% endif %}
		{% endfor %}

		<div class="col-lg-4 col-md-4 col-xs-4">
			<center>
				<a href = "/ticket/dashtrack">
					<img src="{% static 'shuttle/bus.png' %}" class="img-reponsive dashlogo1">
					
				</a>
				<h6>Shuttle Tracking</h6>
			</center>
		</div>
	</div>

</div>

{% endblock content %}